<h1>Table input</h1>
<table>
  <thead>
    <tr>
      <% @csv_data.headers.each do |header| %>
        <th><%= header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @csv_data.each do |row| %>
      <tr>
        <% row.each do |_, value| %>
          <td><%= value %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Appended table :</h2>
<table>
    <thead>
        <% @csv_data.headers.each do |header| %>
            <th><%= header %></th>
        <% end %>
    </thead>
</table>

